<div class="row text-center">
  <small class="note-text">タグをクリックすると、フォームに追加されます</small>
</div>

<div class="row mt-3 justify-content-center">
  <div class="col col-md-8">
    <% tag_list.each do |tag| %>
      <span class="div-tag">
        <%= link_to "#", class="tag-link" do %>
        <span class="nomal-tag">
          <%= link_to tag.tag_name, '#', class: 'tag-link' %>
        </span>
        end
      </span>
    <% end %>
  </div>
</div>

