<div class="container-fluid">
  <div class="text-center my-5">
    <h2><%= @tag.tag_name %>の商品一覧</h2>
  </div>
  <div class="row">

    <div class="sidebar col-sm-2 hidden-xs">
      <% @tag_list.each do |tag_list| %>
        <span class="div-tag">
          <span class="nomal-tag">
            <%= link_to tag_list.tag_name, search_tag_admin_items_path(tag_id: tag.id) %>
          </span>
          <span class="tag-count">
            <%= "(#{tag_list.items.count})" %>
          </span>
        </span>
      <% end %>
    </div>

    <div class="col">
    </div>
  </div>

</div>



