

<div class="bunnyGirl">
  <p>いらっしゃいませ</p>
  <ul>
    <li>会員登録</li>
    <li>ログイン</li>
    <li>マイページ</li>
    <li>お問い合わせ</li>
    <li>商品を見る</li>
    <li>閉じる</li>
  </ul>
</div>

<div class="bartender">
  <p>ご注文を承ります</p>
  <ul>
    <li>商品一覧</li>
    <li>購入する</li>
    <li>閉じる</li>
  </ul>
</div>

<div class="cashier">
  <p>お会計をします</p>
  <ul>
    <li>カートを見る</li>
    <li>お届け先の登録</li>
    <li>閉じる</li>
  </ul>
</div>