<div class="container-fluid">
  <div class="text-center">
    <h1>Midnight Bar</h1>
  </div>




    <div class="billboard py-2">
        <p>
            F3 根尾探偵事務所<br>
            <small>営業時間: 9:00 ~ 20:00</small>
        </p>
        <p>
            F2 ピクセール法律事務所<br>
            <small>営業時間: 10:00 ~ 18:00</small>
        </p>
        <p>
            F1 怒涛寿司<br>
            <small>営業時間: 10:00 ~ 21:00</small>
        </p>
        <p>
            B1 MidNight Bar<br>
            <small>営業時間: 21:00 ~ 04:00</small>
        </p>
    </div>

    <div class="signboard">
      <ul>
        <li>Midnight Bar</li>
        <li>B1</li>
        <li><%= link_to "＜ ENTER", home_path %></li>
      </ul>
    </div>


    <div>
      <h2>ABOUT</h2>
      <p>サイバーパンク風な世界観を楽しめるお酒専門の通販サイトです</p>
      <p>お酒は二十歳になってから</p>
      <small>※架空のポートフォリオサイトです</small>
    </div>


</div>