* {
  list-style: none;
}


// link_to do 下線消す

a {
  text-decoration: none !important;
}

.admin-nav a {
  color: #c6c6c6;
}

.admin-nav a:hover {
  color: rgb(255, 255, 255);
}

h2 {
  color: #fff;
}

.note-text {
  color: #f00;
}

body {
  background: #397;
  // background: #000;
}


/* トグルメニュー */
.menu {
  display: none;
}




// 管理者側のタグ

.div-tag {
  margin: 10px;
  // インラインブロックにしないと、タグの中身が改行されてしまう
  display: inline-block;

}

//管理者側。タグの追加と一覧
.orign-tag {
  font-size: 0.8em;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: #fff3f3;
  padding: 5px;
  padding-right: 0;

  color: #555;
}

.orign-tag:hover {
  background-color: #daf1ff;
}

.delete-tag {
  font-size: 0.8em;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 5px 2px;

  background: #ffffff;
}

.delete-tag:hover {
  background: #ffc55b;
}

.tag-count {
  margin: 5px 2px 5px 0;
}


// 汎用性タグ

.nomal-tag {
  font-size: 0.8em;
  border-radius: 25px;
  background: #fff3f3;
  padding: 5px 5px;
  color: #555;
}