* {
  list-style: none;
}


// link_to do 下線消す

a {
  text-decoration: none !important;
}

.admin-nav a {
  color: #c6c6c6;
}

.admin-nav a:hover {
  color: rgb(255, 255, 255);
}

h2 {
  color: #fff;
}

.note-text {
  color: #f00;
}

body {
  background: #397;
  // background: #000;
}


/* グローバルナビのトグルメニュー */
.menu {
  display: none;
}

// もしくは、右側にポジション固定させるか。迷う。

#position-right {
  position: fixed;
  top: 60%;
  right: 0;
  transform: translateY(-30%);
  z-index: 8;
  text-align: center;
}

.right-menu {

  margin: 100px 0;
  padding: 0 7px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: #fff;
  z-index: 8;
  font-size: 0.9em;
  right: -10px;
}





// 管理者側のタグ

.div-tag {
  margin: 10px;
  // インラインブロックにしないと、タグの中身が改行されてしまう
  display: inline-block;

}

//管理者側。タグの追加と一覧
.orign-tag {
  font-size: 1em;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: #fff3f3;
  padding: 5px;
  padding-right: 0;

  color: #555;
}

.orign-tag:hover {
  background-color: #daf1ff;
}

.delete-tag {
  font-size: 1em;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 5px 2px;

  background: #ffffff;
}

.delete-tag:hover {
  background: #ffc55b;
}

.tag-count {
  margin: 5px 2px 5px 0;
}


// 汎用性タグ

.nomal-tag {
  font-size: 1em;
  border-radius: 25px;
  background: #fff3f3;
  padding: 5px 8px;
}

.nomal-tag:hover {
  background-color: #daf1ff;
}


// タグ一覧をモーダルウィンドウで表示させる



#modal-tag {
  display: none;
  position: fixed;
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  background-color: #bcbcbc;
  z-index: 9;
}

#modal-overlay {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}



#modal-close {
  background: #ffd484;
  width: 100%;
  text-align: center;
  border-radius: 25px;

}

#modal-close:hover {
  background: #ffb835;
}

.button-link {
  width: 100%;
  text-align: center;
}

.button-link:hover {
  cursor: pointer;

}