/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@font-face {
  font-family: 'Neoneon';
  src: url('../fonts/Neoneon.otf') format('opentype');
}


// webpackerでフォントを読み込む。packs/application.jsでimport
@font-face {
  font-family: "yosugara";
  src: url("../javascript/fonts/yosugara1.1.ttf") format("truetype");
}

@font-face {
  font-family: "04かんじゅくゴシック";
  src: url("../javascript/fonts/かんじゅくゴシック.otf") format("truetype");
}



.my-card {
  margin: 15px auto !important;
  width: 600px !important;
  height: 420px;
  background: #fff !important;
  width: 100%;
  font-family: "04かんじゅくゴシック";

}

.my-card-header {
  padding: 20px 0;
}

.my-card-title {
  margin: 10px auto;
  color: #6b6b6b !important;
  font-size: 28px !important;
}


.my-card-name {
  text-align: center;
  margin: 30px 0 80px 0;

}

.my-card-name .profile-kana {
  font-size: 14px !important;
}

.my-card-name .profile-name {
  font-size: 25px;
}

.my-card-profile {
  margin: 0 20px;
}

.my-card .profile {
  text-align: center;
  color: #555 !important;

}

.my-card-birthday {
  padding-top: 20px;
  margin-top: 20px;
  border-top: solid 3px #FC3
}


.my-card-contact {
  margin-top: 20px;
}

.my-card-contact table {
  margin: 0 !important;
  padding: 0 !important;
}

.my-card-contact .profile tr th,
.my-card-contact .profile tr td {
  text-align: left;
  margin: 0 5px;
  padding: 0 5px;
}

.my-card-footer {
  text-align: right;
  font-family: "Neoneon";
  padding: 0 20px 0 0;
  font-size: 28px;
  color: #fa0;
}