/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@font-face {
  font-family: 'Neoneon';
  src: url('../fonts/Neoneon.otf') format('opentype');
}



.background {
  background: #ccc;
  width: 100%;
}

.container {
  margin: 0 auto;

}



.my-card {

  background-image: image-url('wasi.jpg') !important;
  width: 100%;

}

.my-card-title {
  font-family: "MS Gothic";
  color: #6b6b6b !important;
}

.my-card-header {
  background: #fff;
}

.my-card-body h3 {
  text-align: center;
  color: #000;
}

.my-card-content {
  border-bottom: solid 1px #FFCC33
}